* {
    box-sizing: border-box;
}

:root {
    --main-color: rgb(19 135 179 / var(--tw-text-opacity, 1));
    --second-color-bg: linear-gradient(90deg, #0d607f, #1387b3);
}

.animation-top {
    transition: all 0.6s ease-in-out;
    animation: topMove 2.9s ease-in-out infinite;
}

.animation-top-Arrow {
    transition: all 0.6s ease-in-out;
    animation: topMoveArrow 2.9s ease-in-out infinite;
}

@keyframes topMove {
    0% {
        transform: translateY(0px);

    }

    50% {
        transform: translateY(-15px);

    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes topMoveArrow {
    0% {
        transform: translateY(0px);

    }

    50% {
        transform: translateY(-10px);

    }

    100% {
        transform: translateY(0px);
    }
}

.title {
    color: rgb(7 57 77 / var(--tw-text-opacity, 1));
    font-size: 50px;
}

.span-title,
.mini-title h4 {
    color: var(--main-color);
}

.mini-title-sec h5 {
    color: rgb(204 31 165 / var(--tw-text-opacity, 1));
}

.paragraph-sec {
    font-size: 18px;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1));
    font-weight: 500;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}
.margin-top-section{
    margin-top: 80px;
}